<div class="page-header">
    <h1>SpaceX Mission Launch List</h1>
  </div>
  <app-missionfilter [missionList]="missionList" (yearSelected)="filterMissionList($event)"></app-missionfilter>
  
  <div *ngFor="let mission of filteredMissionList" class="mission-container">
    <mat-card class="mission-card" (click)="openDialog(mission.flight_number)" [ngClass]="{'pointer': true}">
      <mat-card-content class="mission-content">
        <div class="mission-image">
          <img src="{{mission.links.mission_patch_small}}" alt="Mission Patch">
        </div>
        <div class="mission-details">
          <h2 class="mission-title">{{mission.mission_name}}</h2>
          <p class="mission-subtitle">{{mission.launch_year}}</p>
          <p class="mission-description">{{mission.details}}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
